{
    "store":"logger",
    "logger":{
        },
    "sql":{
        "dbDialect": "mysql",
        "dbHost": "localhost",
        "dbName": "csp",
        "dbPort": 3306,
        "dbUsername": "USERNAME",
        "dbPassword": "PASSWORD"
        },
    "domainWhitelist": ["localhost:10179","localhost:2600"],
    "sourceBlacklist": ["chrome-extension://gighmmpiobklfepjocnamgkkbiglidom"]
}

