{
  "dbDialect": "mysql",
  "dbHost": "localhost",
  "dbName": "csp",
  "dbPort": 3306,
  "dbUsername": "USERNAME",
  "dbPassword": "PASSWORD",
  "domainWhitelist": ["localhost:10179"],
  "sourceBlacklist": ["chrome-extension://gighmmpiobklfepjocnamgkkbiglidom"]
}
