{
  "store": "logger",
  "logger": {
    "configuration": "log4js.json"
  },
  "sql": {
    "dbDialect": "mysql",
    "dbHost": "localhost",
    "dbName": "csp",
    "dbPort": 3306,
    "dbUsername": "USERNAME",
    "dbPassword": "PASSWORD"
  },
  "health": {
    "enabled": true
  },
  "allowedOrigin": null,
  "port": 2600,
  "domainWhitelist": ["localhost:10179", "localhost:2600"],
  "sourceBlacklist": ["chrome-extension://gighmmpiobklfepjocnamgkkbiglidom"]
}