{
    "appenders": [
        {
            "category": "csp",
            "type": "file",
            "filename": "/tmp/csp.log",
            "absolute": true,
            "maxLogSize": 10485760,
            "backups": 3
        }
    ],
    "levels": {
        "csp": "INFO"
    }
}